<h1>Enter your authorization code:</p>
<form action='/authorize' method='post'>
    <label id='short_code'>
      <input type='text' maxlength='6' name='short_code' id='short_code' />
    </label>
  <button type='submit'>Submit</button>
</form>
